# Bytecode do Python
__pycache__/
*.py[cod]
*$py.class

# Diretórios de ambiente virtual
.env
.venv/
env/
venv/

# Arquivos de configuração local
*.env
.env.*

# Logs
*.log

# Arquivos do Docker
docker-compose.override.yml
**/Dockerfile*

# Arquivos de build do Python
build/
dist/
*.egg-info/

# IDEs e editores
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Arquivos de sistema
.DS_Store
Thumbs.db
